p{
    background-color: #3981aa;
    margin: 0px;
    font-size: larger;
    
}
#first{
    background-color: #3981aa;
    opacity: 0.9 ;

}
#one{
    background-color: #3981aa;
    opacity: 0.8 ;
    
}
#two{
    background-color: #3981aa;
    opacity: 0.7;

}
#three{
    background-color: #3981aa;
    opacity: 0.6;

}
#four{
    background-color: #3981aa;
    opacity: 0.5;

}
#five{
    background-color: #3981aa;
    opacity: 0.4;

}
#six{
    background-color: #3981aa;
    opacity: 0.3;

}
#seven{
    background-color: green;

}
#eight{
    background-color:rgb(206, 49, 75);
    opacity: 0.3;

}
#nine{
    background-color: rgb(206, 49, 75);
    opacity: 0.4;

}
#ten{
    background-color: rgb(206, 49, 75);
    opacity: 0.5;

}
#eleven{
    background-color: rgb(206, 49, 75);
    opacity: 0.6;

}
#twelve{
    background-color: rgb(206, 49, 75);
    opacity: 0.7;

}
#thirteen{
    background-color: rgb(206, 49, 75);
    opacity: 0.8;

}
#fourteen{
    background-color: rgb(206, 49, 75);
    opacity: 0.9;

}
h1{
    text-align: center;
    font-size: 40px;
}

